# Preliminary Analysis of Sea Ice Thickness and Surface Temperatures

In [115]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

import csv

### Opening the CSV file

In [116]:
with open ('sea_ice.csv', newline= '') as f:
    reader= csv.reader(f, delimiter=',')
    for row in reader:
        print(row)

['Date', 'SIT', 'Temperature']
['10-02', '-4985', '15.35']
['5-03', '-33087', '16.13']
['6-03', '-9663', '16.74']
['7-03', '12339', '17.14']
['8-03', '16822', '17.11']
['9-03', '14002', '16.46']
['10-03', '-18128', '15.56']
['5-04', '-28029', '15.95']
['6-04', '423', '16.72']
['7-04', '23952', '16.87']
['8-04', '22424', '16.81']
['9-04', '13711', '16.29']
['10-04', '-20650', '15.43']
['5-05', '-38101', '16.32']
['6-05', '-3019', '17.03']
['7-05', '12548', '17.27']
['8-05', '16349', '17.05']
['9-05', '19395', '16.47']
['10-05', '-17627', '15.63']
['5-06', '-46043', '16.16']
['6-06', '-19476', '16.95']
['7-06', '1689', '17.13']
['8-06', '18225', '17.12']
['9-06', '7940', '16.42']
['10-06', '-20025', '15.60']
['5-07', '-47351', '16.33']
['6-07', '-16009', '16.97']
['7-07', '14371', '17.25']
['8-07', '18399', '17.05']
['9-07', '24376', '16.28']
['10-07', '-18108', '15.50']
['5-08', '-33366', '16.15']
['6-08', '-2720', '16.78']
['7-08', '18877', '17.20']
['8-08', '28009', '16.97']
['9-08', '31875', '16.36']
['10-08', '-14588', '15.50']
['5-09', '-32704', '16.23']
['6-09', '-2096', '16.90']
['7-09', '19610', '17.33']
['8-09', '39734', '17.05']
['9-09', '38681', '16.45']
['10-09', '-13439', '15.56']
['5-10', '-37565', '16.35']
['6-10', '-12205', '16.94']
['7-10', '16703', '17.12']
['8-10', '23323', '16.99']
['9-10', '21770', '16.42']
['10-10', '-15045', '15.54']
['5-11', '-41217', '16.09']
['6-11', '-12009', '16.94']
['7-11', '19043', '17.33']
['8-11', '30775', '17.10']
['9-11', '31892', '16.39']
['10-11', '   ....', '15.50']

### Reading in the .csv

In [117]:
data = pd.read_csv('sea_ice.csv', delimiter=',')

In [118]:
print(data)

     Date      SIT  Temperature
0   10-02    -4985        15.35
1    5-03   -33087        16.13
2    6-03    -9663        16.74
3    7-03    12339        17.14
4    8-03    16822        17.11
5    9-03    14002        16.46
6   10-03   -18128        15.56
7    5-04   -28029        15.95
8    6-04      423        16.72
9    7-04    23952        16.87
10   8-04    22424        16.81
11   9-04    13711        16.29
12  10-04   -20650        15.43
13   5-05   -38101        16.32
14   6-05    -3019        17.03
15   7-05    12548        17.27
16   8-05    16349        17.05
17   9-05    19395        16.47
18  10-05   -17627        15.63
19   5-06   -46043        16.16
20   6-06   -19476        16.95
21   7-06     1689        17.13
22   8-06    18225        17.12
23   9-06     7940        16.42
24  10-06   -20025        15.60
25   5-07   -47351        16.33
26   6-07   -16009        16.97
27   7-07    14371        17.25
28   8-07    18399        17.05
29   9-07    24376        16.28
30  10-07   -18108        15.50
31   5-08   -33366        16.15
32   6-08    -2720        16.78
33   7-08    18877        17.20
34   8-08    28009        16.97
35   9-08    31875        16.36
36  10-08   -14588        15.50
37   5-09   -32704        16.23
38   6-09    -2096        16.90
39   7-09    19610        17.33
40   8-09    39734        17.05
41   9-09    38681        16.45
42  10-09   -13439        15.56
43   5-10   -37565        16.35
44   6-10   -12205        16.94
45   7-10    16703        17.12
46   8-10    23323        16.99
47   9-10    21770        16.42
48  10-10   -15045        15.54
49   5-11   -41217        16.09
50   6-11   -12009        16.94
51   7-11    19043        17.33
52   8-11    30775        17.10
53   9-11    31892        16.39
54  10-11     ....        15.50

In [119]:
data[['Date','SIT','Temperature']]

     Date      SIT  Temperature
0   10-02    -4985        15.35
1    5-03   -33087        16.13
2    6-03    -9663        16.74
3    7-03    12339        17.14
4    8-03    16822        17.11
5    9-03    14002        16.46
6   10-03   -18128        15.56
7    5-04   -28029        15.95
8    6-04      423        16.72
9    7-04    23952        16.87
10   8-04    22424        16.81
11   9-04    13711        16.29
12  10-04   -20650        15.43
13   5-05   -38101        16.32
14   6-05    -3019        17.03
15   7-05    12548        17.27
16   8-05    16349        17.05
17   9-05    19395        16.47
18  10-05   -17627        15.63
19   5-06   -46043        16.16
20   6-06   -19476        16.95
21   7-06     1689        17.13
22   8-06    18225        17.12
23   9-06     7940        16.42
24  10-06   -20025        15.60
25   5-07   -47351        16.33
26   6-07   -16009        16.97
27   7-07    14371        17.25
28   8-07    18399        17.05
29   9-07    24376        16.28
30  10-07   -18108        15.50
31   5-08   -33366        16.15
32   6-08    -2720        16.78
33   7-08    18877        17.20
34   8-08    28009        16.97
35   9-08    31875        16.36
36  10-08   -14588        15.50
37   5-09   -32704        16.23
38   6-09    -2096        16.90
39   7-09    19610        17.33
40   8-09    39734        17.05
41   9-09    38681        16.45
42  10-09   -13439        15.56
43   5-10   -37565        16.35
44   6-10   -12205        16.94
45   7-10    16703        17.12
46   8-10    23323        16.99
47   9-10    21770        16.42
48  10-10   -15045        15.54
49   5-11   -41217        16.09
50   6-11   -12009        16.94
51   7-11    19043        17.33
52   8-11    30775        17.10
53   9-11    31892        16.39
54  10-11     ....        15.50

### Turning the dataframe to an array

In [120]:
sea_ice=df.to_numpy()
print(sea_ice)

[['10-02,-4985,15.35,0.381']
 ['5-03,-33087,16.13,0.262']
 ['6-03,-9663,16.74,-0.788']
 ['7-03,12339,17.14,0.000']
 ['8-03,16822,17.11,0.177']
 ['9-03,14002,16.46,-0.888']
 ['10-03,-18128,15.56,-0.707']
 ['5-04,-28029,15.95,0.273']
 ['6-04,423,16.72,0.518']
 ['7-04,23952,16.87,-0.923']
 ['8-04,22424,16.81,-0.081']
 ['9-04,13711,16.29,-0.344']
 ['10-04,-20650,15.43,-0.189']
 ['5-05,-38101,16.32,-0.927']
 ['6-05,-3019,17.03,-0.548']
 ['7-05,12548,17.27,0.288']
 ['8-05,16349,17.05,-0.018']
 ['9-05,19395,16.47,0.597']
 ['10-05,-17627,15.63,1.080']
 ['5-06,-46043,16.16,-0.087']
 ['6-06,-19476,16.95,-0.377']
 ['7-06,1689,17.13,-0.234']
 ['8-06,18225,17.12,0.950']
 ['9-06,7940,16.42,-0.291']
 ['10-06,-20025,15.60,0.242']
 ['5-07,-47351,16.33,0.013']
 ['6-07,-16009,16.97,-0.394']
 ['7-07,14371,17.25,0.541']
 ['8-07,18399,17.05,0.062']
 ['9-07,24376,16.28,0.556']
 ['10-07,-18108,15.50,-0.514']
 ['5-08,-33366,16.15,0.092']
 ['6-08,-2720,16.78,0.651']
 ['7-08,18877,17.20,0.217']
 ['8-08,28009,16.97,-1.345']
 ['9-08,31875,16.36,0.648']
 ['10-08,-14588,15.50,-0.235']
 ['5-09,-32704,16.23,-0.393']
 ['6-09,-2096,16.90,0.619']
 ['7-09,19610,17.33,-0.010']
 ['8-09,39734,17.05,0.455']
 ['9-09,38681,16.45,0.110']
 ['10-09,-13439,15.56,-1.572']
 ['5-10,-37565,16.35,0.259']
 ['6-10,-12205,16.94,-0.402']
 ['7-10,16703,17.12,-0.161']
 ['8-10,23323,16.99,-0.328']
 ['9-10,21770,16.42,-0.927']
 ['10-10,-15045,15.54,0.106']
 ['5-11,-41217,16.09,-0.823']
 ['6-11,-12009,16.94,0.001']
 ['7-11,19043,17.33,-1.317']
 ['8-11,30775,17.10,0.775']
 ['9-11,31892,16.39,-0.608']
 ['10-11,   ....,15.50,0.186']]

### Confirming it is now an array and not a dataframe

In [121]:
type=type(ice_temp)
print(type)
#array=np.delete(ice_temp,[3],axis=0)
#tried to delete a column but just went ahead and did it in the terminal with "cut" because delete function was not working

<class 'numpy.ndarray'>

### Attaining some quick desriptive statistics from the dataframe

In [122]:
stats=data.describe(include='all')
print(stats)

        Date     SIT  Temperature
count     55      55    55.000000
unique    55      55          NaN
top     6-03  -20650          NaN
freq       1       1          NaN
mean     NaN     NaN    16.514182
std      NaN     NaN     0.596663
min      NaN     NaN    15.350000
25%      NaN     NaN    16.155000
50%      NaN     NaN    16.470000
75%      NaN     NaN    17.040000
max      NaN     NaN    17.330000

### Getting the standard deviation for temperature from the dataframe

In [123]:
temp_std=data.std()
print(temp_std)

Temperature    0.596663
dtype: float64

### Getting the Min and Max values for SIT and Surface Temperature

In [124]:
#max
max=data.max()
print(max)
#min
min=data.min()
print(min)

Date            9-11
SIT             7940
Temperature    17.33
dtype: object
Date             10-02
SIT               ....
Temperature      15.35
dtype: object

### Transposing the array

In [125]:
i=np.transpose(sea_ice)
print(i)

[['10-02,-4985,15.35,0.381' '5-03,-33087,16.13,0.262'
  '6-03,-9663,16.74,-0.788' '7-03,12339,17.14,0.000'
  '8-03,16822,17.11,0.177' '9-03,14002,16.46,-0.888'
  '10-03,-18128,15.56,-0.707' '5-04,-28029,15.95,0.273'
  '6-04,423,16.72,0.518' '7-04,23952,16.87,-0.923'
  '8-04,22424,16.81,-0.081' '9-04,13711,16.29,-0.344'
  '10-04,-20650,15.43,-0.189' '5-05,-38101,16.32,-0.927'
  '6-05,-3019,17.03,-0.548' '7-05,12548,17.27,0.288'
  '8-05,16349,17.05,-0.018' '9-05,19395,16.47,0.597'
  '10-05,-17627,15.63,1.080' '5-06,-46043,16.16,-0.087'
  '6-06,-19476,16.95,-0.377' '7-06,1689,17.13,-0.234'
  '8-06,18225,17.12,0.950' '9-06,7940,16.42,-0.291'
  '10-06,-20025,15.60,0.242' '5-07,-47351,16.33,0.013'
  '6-07,-16009,16.97,-0.394' '7-07,14371,17.25,0.541'
  '8-07,18399,17.05,0.062' '9-07,24376,16.28,0.556'
  '10-07,-18108,15.50,-0.514' '5-08,-33366,16.15,0.092'
  '6-08,-2720,16.78,0.651' '7-08,18877,17.20,0.217'
  '8-08,28009,16.97,-1.345' '9-08,31875,16.36,0.648'
  '10-08,-14588,15.50,-0.235' '5-09,-32704,16.23,-0.393'
  '6-09,-2096,16.90,0.619' '7-09,19610,17.33,-0.010'
  '8-09,39734,17.05,0.455' '9-09,38681,16.45,0.110'
  '10-09,-13439,15.56,-1.572' '5-10,-37565,16.35,0.259'
  '6-10,-12205,16.94,-0.402' '7-10,16703,17.12,-0.161'
  '8-10,23323,16.99,-0.328' '9-10,21770,16.42,-0.927'
  '10-10,-15045,15.54,0.106' '5-11,-41217,16.09,-0.823'
  '6-11,-12009,16.94,0.001' '7-11,19043,17.33,-1.317'
  '8-11,30775,17.10,0.775' '9-11,31892,16.39,-0.608'
  '10-11,   ....,15.50,0.186']]

#### I would like to do more in depth statistics and plots, as well as subsetting other parts of the data